{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "transform-react-display-name",

    "transform-exponentiation-operator",
    "transform-es2015-classes",

    "transform-es2015-modules-amd"
  ]
}
