.git
.gitignore

**/.DS_Store

.build
.build/
.build-ubuntu
.build-ubuntu/
OnlinePlayground/**/.build

node_modules/

config/
Public/static/app

*.xcodeproj
DerivedData

Dockerfile
.dockerignore
docker-compose.yml