.DS_Store
/.build
/.build-ubuntu
/Packages
/config.json
/spec.json
/ssl
./config/github.json
config/github.json
/PlaygroundServer.xcodeproj

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/*
xcuserdata

node_modules
package-lock.json
Package.resolved