<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-navbar-item">
            <div class="uk-margin-small-right">Start spreading the news </div>
            <a href="https://twitter.com/intent/tweet?text=Check out Online Swift Playground %23Swiftlang&amp;url=https://swiftplayground.run" target="_blank" onclick="ga('send', 'event', 'share_site', 'twitter');"><span uk-icon="icon: twitter"></span></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://swiftplayground.run" target="_blank" onclick="ga('send', 'event', 'share_site', 'facebook');"><span uk-icon="icon: facebook"></span></a>    
        </div>
    </div>
</div>
