<div class="container">
    <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
                <li class="list-inline-item">
                    <a href="https://krzyzanowskim.com">Contact</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="/static/privacy-policy.html">Privacy Policy</a>
                </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; SwiftPlayground by Marcin Krzyzanowski. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="https://twitter.com/krzyzanowskim">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.ibm.com/cloud"><img class="img-fluid" src="static/assets/powered-by-ibm.png" alt="Powered by IBM Cloud"></a>
        </div>
    </div>
</div>
