<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="keywords" content="swift, swift playground, swift on server">
        <meta name="description" content="Swift Playground - online, hosted swift playgrounds.">
        <meta name="author" content="Marcin Krzyzanowski">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@krzyzanowskim" />
        <meta name="twitter:creator" content="@krzyzanowskim" />
        <meta property="og:url" content="https://swiftplayground.run" />
        <meta property="og:title" content="Online Swift Playground" />
        <meta property="og:description" content="Self hosted and embeddable Swift Playground solution with a third-party module support baked in." />
        <meta property="og:image" content="https://swiftplayground.run/assets/og.png" />

        <title>Online Swift Playground</title>
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicon.png" />

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/v4-shims.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        <link href="static/css/landing-page.css" rel="stylesheet">
    </head>

    <body class="bg-light">
        <header>
            <div class="container p-2">
                <div class="row mt-4 mb-4">
                    <div class="col-12 text-center">
                        <a class="btn btn-primary" href="/">Let's Play again</a>
                    </div>
                </div>
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/JSUIQgEVDM4?autoplay=1&rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="row pt-4">
                    <div class="col-12 text-center">
                        <p>
                            This is the end, beautiful friend
                            <br/> This is the end, my only friend, the end
                            <br/> Of our elaborate plans, the end
                            <br/> Of everything that stands, the end
                            <br/> No safety or surprise, the end
                            <br/> I'll never look into your eyes, again
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer bg-light">
            {% include "./footer-container.html" %}
        </footer>
    </body>

    {% include "./google-analytics.html" %}

</html>
