<!-- Meta -->
<meta name="keywords" content="swift, swift playground, swift on server">
<meta name="description" content="Swift Playground - online, hosted swift playgrounds.">
<meta name="author" content="Marcin Krzyzanowski">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@krzyzanowskim" />
<meta name="twitter:creator" content="@krzyzanowskim" />

<meta property="og:url" content="http://swiftplayground.run" />
<meta property="og:title" content="Online Swift Playground" />
<meta property="og:description" content="Self hosted and embeddable Swift Playground solution with a third-party module support baked in." />
<meta property="og:image" content="http://swiftplayground.run/assets/og.png" />
