<!-- Copyright Marcin Krzyżanowski marcin@krzyzanowskim.com -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Online Swift Playground</title>

    {% include "./favicon-fragment.html" %}
    {% include "./meta-fragment.html" %}
    {% include "./bootstrap-fragment.html" %}
    {% include "./fontawesome-fragment.html" %}
    {% include "./fonts-fragment.html" %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="static/css/playground.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <!-- Navigation -->
    <header>
      <nav class="navbar navbar-light static-top justify-content-between">
        <div class="container">
          <img class="img-fluid" src="static/assets/logo.png" style="max-height:auto">
        </div>
      </nav>
    </header>

    <section class="h-75">
      <div class="container h-100">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-dark bg-dark justify-content-between pl-2 pr-2">
              <button id="run-button" type="button" class="btn btn-primary btn-sm rounded-0">
                <i class="fa fa-play fa-lg"></i>
                <span>Run</span>
              </button>
              <div class="dropdown nav-item">
                <button type="button" class="btn btn-primary btn-sm rounded-0 dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-download fa-lg fa-fw"></i>
                  <span>Download</span>
                </button>
                <div class="dropdown-menu rounded-0">
                  <a id="download-file-button" href="#" role="button" download="playground.swift" class="btn btn-primary btn-sm rounded-0 dropdown-item">
                    <i class="fas fa-file-alt fa-lg fa-2x fa-fw"></i>
                    <span class="pl-2">Playground.swift</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a id="download-playground-button" href="#" role="button" download="playground.zip" class="btn btn-primary btn-sm rounded-0 dropdown-item">
                    <i class="fas fa-archive fa-lg fa-2x fa-fw"></i>
                    <span class="pl-2">Playground.playground</span>
                  </a>
                </div>
                <a class="btn btn-primary btn-sm rounded-0" href="/logout">
                  <i class="fas fa-sign-out-alt fa-lg fa-fw"></i>
                  <span>Sign out</span>
                </a>
              </div>
            </nav>
          </div>
        </div>
        <div class="row h-75">
          <div class="col">
            <div id="editor" class="fill">import Foundation
              <br/>
              <br/>print("Hello World")</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="bg-dark" style="height: 6px;">
            </div>
          </div>
        </div>
        <div class="row h-25">
          <div class="col">
            <div id="terminal" class="fill"></div>
          </div>
        </div>
        <div class="row my-3">
          {% include "./footer-container.html" %}
        </div>
      </div>
    </section>
    <script src="static/app.js"></script>
  </body>

</html>
