<!-- Copyright Marcin Krzyżanowski marcin@krzyzanowskim.com -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="swift, swift playground, swift on server">
    <meta name="description" content="Swift Playground - online, hosted swift playgrounds.">
    <meta name="author" content="Marcin Krzyzanowski">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@krzyzanowskim" />
    <meta name="twitter:creator" content="@krzyzanowskim" />
    <meta property="og:url" content="https://swiftplayground.run" />
    <meta property="og:title" content="Online Swift Playground" />
    <meta property="og:description" content="Self hosted and embeddable Swift Playground solution with a third-party module support baked in." />
    <meta property="og:image" content="https://swiftplayground.run/assets/og.png" />

    <title>Online Swift Playground</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="static/css/playground.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <!-- Navigation -->
    <header>
      <nav class="navbar navbar-light static-top justify-content-between">
        <div class="container">
          <img class="img-fluid" src="static/assets/logo.png" style="max-height:auto">
        </div>
      </nav>
    </header>

    <section class="h-75">
      <div class="container h-100">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-dark bg-dark justify-content-between pl-2 pr-2">
              <div>
                <button id="run-button" type="button" class="btn btn-primary btn-sm rounded-0">
                  <i class="fa fa-play fa-lg"></i>
                  <span>Run</span>
                </button>
              </div>
              <div class="dropdown nav-item">
                <button type="button" class="btn btn-primary btn-sm rounded-0 dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-download fa-lg fa-fw"></i>
                  <span>Download</span>
                </button>
                <div class="dropdown-menu rounded-0">
                  <a id="download-file-button" href="#" role="button" download="playground.swift" class="btn btn-primary btn-sm rounded-0 dropdown-item">
                    <i class="fas fa-file-alt fa-lg fa-2x fa-fw"></i>
                    <span class="pl-2">Playground.swift</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a id="download-playground-button" href="#" role="button" download="playground.zip" class="btn btn-primary btn-sm rounded-0 dropdown-item">
                    <i class="fas fa-archive fa-lg fa-2x fa-fw"></i>
                    <span class="pl-2">Playground.playground</span>
                  </a>
                </div>
                <a class="btn btn-primary btn-sm rounded-0" href="/logout">
                  <i class="fas fa-sign-out-alt fa-lg fa-fw"></i>
                  <span>Sign out</span>
                </a>
              </div>
            </nav>
          </div>
        </div>
        <div class="row h-75">
          <div class="col">
            <div id="editor" class="fill">import Foundation
              <br/>import CryptoSwift
              <br/>
              <br/>print("Hello World".md5())</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="bg-dark" style="height: 6px;">
            </div>
          </div>
        </div>
        <div class="row h-25">
          <div class="col">
            <div id="terminal" class="fill"></div>
          </div>
        </div>
        <div class="row my-3">
          {% include "./footer-container.html" %}
        </div>
      </div>
    </section>


    {% include "./google-analytics.html" %}

    <script src="static/app.js"></script>
  </body>

</html>
