
<div uk-sticky>
    <nav class="uk-navbar-container uk-margin uk-padding-small" uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <a href="https://twitter.com/krzyzanowskim" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter"></a>
            <a href="https://krzyzanowskim.com" class="uk-button uk-button-text uk-button-small">Authors</a>
        </div>
        <div class="uk-navbar-center">
            <a href="http://swiftplayground.run" class="uk-logo"><img class="uk-margin-small-right" src="/static/assets/logo.png" width="50" alt="">SwiftPlayground</a>
        </div>
    </nav>
</div>
